services:
  app:
    image: ghcr.io/renatoruis/timtransfer:main
    ports:
      - "9090:9090"
    environment:
      - PORT=9090
    volumes:
      - .env:/app/.env
      - ./uploads:/app/uploads
      - ./feedback:/app/feedback
